*{
  padding:0;
  margin:0;
  font-family: 'Poppins',sans-serif;
  font-weight:light;
}
section{
  background-color: #4c566a;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
a{
  text-decoration: none;
  padding: 10px;
  padding-bottom: 0;
  color: #f4f4f4;
}
footer{
  background-color: #4c566a;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.full{
  height:100vh;
}
.para{
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
.card{
  padding: 20px;
  box-shadow: 5px 5px 5px #3a4150;
  opacity: .95;
  border-radius: 25px;
  display: inline;
  text-align: center;
  margin: 8%;
  min-width: 350px;
  background-color: #f4f4f4;
  color: #4c566a;
  height: fit-content;
}
.normal{
  width: 60vw;
}
.small{
  width: 30vw;
}
.logo{
  width: 35px;
}
#landing{
  background-image: url('./images/senior.JPG');
  align-items: center;
}
#divider{
  background-image: url('./images/code.png');
}
#v280{
  background-image: url('./images/V-280.jpg');
}
#creds{
  float: right;
}
#name{
  color:#f4f4f4;
  font-size:400%;
  font-weight:500;
  font-stretch: condensed;
}
.profile{
  max-width: 300px;
}
.dot{
  width: 20px;
  padding: 8px;
}
.card h1{
  font-weight: normal;
}
@media only screen and (max-width:600px){
  .full{
    display: none;
  }
  footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
  }
  .card{
    width: 60vw;
    font-size: 13px;
  }
  #creds{
    font-size: 13px;
    padding-bottom: 10px;
  }
}
